
dog_simulation_example.Rmd
Empirical Data/doi_10_5061_dryad_h44j0zpkf__v20210813/Wang_HDGenetDogs_Genotypes_100621_UK.ped
Empirical Data/doi_10_5061_dryad_078nc__v20151111/FBD_UK_database.ped
/PLINK/per_indiv_overlapping_rohs_merged
/PLINK/results/PLINK/empirical/doi_10_5061_dryad_h44j0zpkf__v20210813/small_scale_individual_roh_20_ind
/PLINK/small_scale_20_indv_per_indiv_overlapping_rohs_merged
/Gosling plots/example data web app
Old/Empirical Data/doi_10_5061_dryad_h44j0zpkf__v20210813/Wang_HDGenetDogs_Genotypes_100621_UK.ped
Old/Empirical Data/doi_10_5061_dryad_h44j0zpkf__v20210813/Wang_HDGenetDogs_Genotypes_100621_UK.map
*.ped
code/.RData
code/.Rhistory
code/500 generations, 1000 indviduals test.RData
/results/ROH-Hotspots (26 April)
/results - 8 Maj
/results - 14 Maj (no pruned selection replicates)
/data/raw/simulated 14 Maj (no pruned selection replicates)
/data/raw/simulated 19 maj (pruned replicates after loss within 10 gen)
/results - innan 24 maj
code/.Rhistory
code/.RData
/data/preprocessed/simulated -  No MAF - No Minsnpfreq - last_mate_sel - 1 scale
/data/preprocessed/simulated - innan 29 maj
/data/preprocessed/simulated - minSnpFreq - last_mate_sel - 1 scale
/data/preprocessed/simulated - no minSnpFreq - last_bottleneck_generation
/results - innan 29 maj
/results - no minSnpFreq - last_bottleneck_generation
/data/raw/simulated - no minSnpFreq -  last_mate_sel - 3.5 scale
/data/raw/simulated - no minSnpFreq - last_bottleneck_generation
/data/raw/simulated - No MAF - No Minsnpfreq - last_mate_sel - 1 scale
/data/raw/simulated - innan 29 maj
/results - No MAF - No Minsnpfreq - last_mate_sel - 1
/results - no minSnpFreq -  last_mate_sel - 3.5 scale
/results - minSnpFreq - last_mate_sel - 1 scale
/data/preprocessed/simulated - No MAF - No Minsnpfreq - last_mate_sel - 1 scale - all sel coef
/data/raw/simulated - No MAF - No Minsnpfreq - last_mate_sel - 1 scale - all sel coef
/results - No MAF - No Minsnpfreq - last_mate_sel - 1 scale - all sel coef
/dataa
/results_50
/results_50
/results_lab
/data - German shepherd
/data/preprocessed/empirical/doi_10_5061_dryad_h44j0zpkf__v20210813
/data/preprocessed/empirical/doi_10_5061_dryad_h44j0zpkf__v20210813
/data/preprocessed/simulated - H10_V1
/data/preprocessed/simulated - HO7_v1
/data/preprocessed/simulated - HO7_v2
/data/preprocessed/simulated - HO9_V1
/data/preprocessed/simulated - HO9_V2
/data/raw/simulated - HO7_v1
/data/raw/simulated - HO7_v2
/data/raw/simulated - HO9_V1
/data/raw/simulated - HO6
/data/raw/simulated - HO9_V2
/data/preprocessed/simulated - HO5
/data/preprocessed/simulated - HO6
/data/raw/simulated - HO5
/Old
/res_H10_v1
/res_HO5
/res_HO6
/res_HO7_v1
/res_HO7_v2
/res_HO9_v1
/res_HO9_v2
/data/raw/simulated - H10_V1
code/Windows OS scripts/non_scuffed_Pipeline_results_Windows_OS.html
code/Windows OS scripts/non_scuffed_Pipeline_results_Windows_OS.Rmd
code/Windows OS scripts/Pipeline_Sams_HO_comparison - kopia.Rmd
/resH17_1_AC
/resH17_2_AC
/res_test
/data/raw/simulated - HO17_2_allele_copies
/data/raw/simulated - HO17_1_allele_copy
/data/preprocessed/simulated - HO17_2_allele_copies
/data/preprocessed/simulated - HO17_1_allele_copy
